<<<<<<< HEAD
main {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
=======
h1#country-name{
    color: #DA0037;
}

div#covidTable table{
    border-collapse: collapse;
    width: 100%;
>>>>>>> c7a1c49 (-Add line chart on countries page)
}


h1#country-name{
    color: #DA0037;
}

div#covidTable tr {
    display: block;
    float: left;
    border: none;
    width: 50%;
}

div#covidTable tr:hover {
    background-color: #171717;
    color: #EDEDED;
}


